.price::before{
    content:"$";
    margin-right:8px;
}
.product-name{
    min-height:60px;
}
.product-description{
    text-transform:capitalize;
}

#product-detail-images img{
  width:100%;
}

/*Profile Image*/
.profile-group{
  position:relative;
  width:150px;
  height: 150px;
  overflow:hidden;
}
.profile-btn{
  position:absolute;
  z-index:99;
  bottom:0;
  right:0;
}

.nav-profile-image{
  max-height:50px;
  margin: 0 20px;
  padding:3px;
  box-sizing: border-box;
}

.navbar-user{
  margin:0;
}

.product-quantity{
  max-width:60px;
}
.cap{
  text-transform: capitalize;
}

.search-bar{
  padding:5px;
  margin-bottom: 0;
  background-color:#fefefe;
  border:1px solid transparent;
}

.categories-nav{
  
}
.spaced-top{
  margin-top: 30px;
}

.logo
{
  margin: 0 auto;
}

.navbar{
  margin-bottom:0;
}

.navlogo{
  max-height:50px;
  padding:0;
}

.body2{
/*background: linear-gradient(to right, #434343, #000000);*/
background-color:#434343;
  color:white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  color:#000;
  background-color:#fff;
}

.nav-pills > li > a{
  color:#fff;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-colour: #000;
}